{% extends "index_father.html" %}

<head>
{% block title %}Ingresar{% endblock %}


</head>
        
  
{% block content %}
    <div class="fondo">
        <div class="form-container">
            <form action="" id="form">
                <h3>Ingresar</h3><class class="container">
                
                <input type="text" placeholder="usuario"/>
                <div class="container">
                
                <input type="correo" placeholder="correo electrónico"/>
        </div>
        <div class="container">
            <span class="icon"><i class="fas fa-lock"></i></span>
            <input type="contrasenia" placeholder="contraseña"/>
        </div>
            <input type="submit" value="Ingresar">
            </form>
    </div>
{% endblock %}
    